@page "/company_information"


<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0 " data-anchor="data-anchor">
            <i class="fas fa-arrow-left"></i>
            Company Information
        </h5>
    </div>

    <div class="card-body bg-body-tertiary">
                   
      <div class=" row flex-center"
        
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Full Name</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">                
            </div>
        </div>

        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Organization Name</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Company Name</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Adress line 1</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Adress line 2</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Active Status</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Start to End time</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Off Day</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Country Code</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">State</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Gmail</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
        <div class="col-sm-7 animated-div">
            <div class="form-group">
                <label for="companyInformation" class="label text-dark">Phone No</label>
                <input name="name" type="text" class="form-control form-control-sm form-rounded">
            </div>
        </div>
         <div>
            <button class="btn btn-primary btn-sm ">Save</button>
        </div>

        </div>

        </div>
        </div>

@code {

}
