@page "/sale_point"
  
  
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0" data-anchor="data-anchor">Subtle colors</h5>
    </div>
    <div class="card-body bg-body-tertiary">
        <div class="row g-0">
             
            <div class="col-6 col-sm-4 col-lg-3">
                <div class="p-3 d-flex flex-center bg-secondary-subtle" style="height: 180px">
                    <pre><code class="text-secondary">.bg-secondary-subtle</code></pre>
                </div>
            </div>
             
            
        </div>
    </div>
</div>
 @code {
     
}
