@page "/Product_Sub_Category"


<div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0" data-anchor="data-anchor">
                <i class="fas fa-arrow-left"></i>
              Product Sub Category Info Entry
            </h5>

    </div>


    <div class="card-body bg-body-tertiary">
  <div class="row">
    <div class="col-sm-5 animated-div">
        <div class="form-group">
                    <label for="catagory" class="label text-dark">Category <span class="error-star">*</span></label>
                    <select required name="catagory" class="form-control form-control-sm form-rounded invalid-border-input ">
                <option value="">Select Category</option> 
                <!-- Options for productCategories -->
            </select>
            <div class="text-left text-danger">
                 Category  is Required!
            </div>
        </div>
    </div>

    <div class="col-sm-5 animated-div">
        <div class="form-group">
                    <label for="subCategory" class="label text-dark">Product Sub Category Name <span class="error-star">*</span></label>
                    <input name="name" type="text" class="form-control form-control-sm form-rounded" placeholder="Product Sub Category Name" required>

                    <div class="text-left text-danger">
                       Product Sub Category Name is Required!
                    </div>
            
        </div>
    </div>
    </div>
        <button class="btn btn-primary btn-sm mt-2">Submit</button>
  </div>
  </div>

@code {

}
