@page "/unsoleved_ticket"

 
   <div class="col-lg-7 ps-lg-2 mb-3">
            <div class="row g-0 h-100 align-items-stretch">
                <div class="col-lg-12 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Experiences</h5>
                        </div>
                        <div class="card-body bg-body-tertiary pb-0">
                            <a class="mb-4 d-block d-flex align-items-center" href="#experience-form" data-bs-toggle="collapse" aria-expanded="true" aria-controls="experience-form"><span class="circle-dashed"><span class="fas fa-plus"></span></span><span class="ms-3">Add new experience</span></a>
                            <div class="collapse show" id="experience-form">
                                <form class="row">
                                    <div class="col-3 mb-3 text-lg-end">
                                        <label class="form-label" for="company">Company</label>
                                    </div>
                                    <div class="col-9 col-sm-7 mb-3">
                                        <input class="form-control form-control-sm" id="company" type="text" />
                                    </div>
                                    <div class="col-3 mb-3 text-lg-end">
                                        <label class="form-label" for="position">Position</label>
                                    </div>
                                    <div class="col-9 col-sm-7 mb-3">
                                        <input class="form-control form-control-sm" id="position" type="text" />
                                    </div>
                                    <div class="col-3 mb-3 text-lg-end">
                                        <label class="form-label" for="city">City </label>
                                    </div>
                                    <div class="col-9 col-sm-7 mb-3">
                                        <input class="form-control form-control-sm" id="city" type="text" />
                                    </div>
                                    <div class="col-3 mb-3 text-lg-end">
                                        <label class="form-label" for="exp-description">Description </label>
                                    </div>
                                    <div class="col-9 col-sm-7 mb-3">
                                        <textarea class="form-control form-control-sm" id="exp-description" rows="3"> </textarea>
                                    </div>
                                    <div class="col-9 col-sm-7 offset-3 mb-3">
                                        <div class="form-check mb-0 lh-1">
                                            <input class="form-check-input" type="checkbox" id="experience-current" checked="checked" />
                                            <label class="form-check-label mb-0" for="experience-current">
                                                I currently work here
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-3 text-lg-end">
                                        <label class="form-label" for="experience-form2">From </label>
                                    </div>
                                    <div class="col-9 col-sm-7 mb-3">
                                        <input class="form-control form-control-sm text-500 datetimepicker" id="experience-form2" type="text" placeholder="dd/mm/yy" data-options='{"dateFormat":"d/m/y","disableMobile":true}' />
                                    </div>
                                    <div class="col-3 text-lg-end">
                                        <label class="form-label" for="experience-to">To </label>
                                    </div>
                                    <div class="col-9 col-sm-7 mb-3">
                                        <input class="form-control form-control-sm text-500 datetimepicker" id="experience-to" type="text" placeholder="dd/mm/yy" data-options='{"dateFormat":"d/m/y","disableMobile":true}' />
                                    </div>
                                    <div class="col-9 col-sm-7 offset-3">
                                        <button class="btn btn-primary" type="button">Save</button>
                                    </div>
                                </form>
                                <div class="border-dashed-bottom my-4"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
      
 
<div class="card" id="ticketsTable">
    <div class="card-header border-bottom border-200 px-0">
        <div class="d-lg-flex justify-content-between">
            <div class="row flex-between-center gy-2 px-x1">
                <div class="col-auto pe-0">

                    <h6 class="mb-0">
                        s
                    </h6>
                </div>
                <div class="col-auto">
                    <form>
                        <div class="input-group input-search-width">
                            <input class="form-control form-control-sm shadow-none" type="search" placeholder="Search  by name" aria-label="search" />
                            <button class="btn btn-sm btn-outline-secondary border-300 hover-border-secondary"><span class="fa fa-search fs-10"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="border-bottom border-200 my-3"></div>
            <div class="d-flex align-items-center justify-content-between justify-content-lg-end px-x1">
                <button class="btn btn-sm btn-falcon-default" type="button"><span class="fas fa-filter" data-fa-transform="shrink-4 down-1"></span><span class="ms-1 d-none d-sm-inline-block">Filter</span></button>
                <div class="bg-300 mx-3 d-none d-lg-block" style="width:1px; height:29px"></div>
                <div class="d-none" id="table-ticket-actions">
                    <div class="d-flex">
                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                    </div>
                </div>
                <div class="d-flex align-items-center" id="table-ticket-replace-element">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-falcon-default dropdown-toggle dropdown-caret-none" type="button" id="dashboard-layout" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block me-1 table-layout">Table View</span><span class="fas fa-chevron-down" data-fa-transform="shrink-3 down-1"></span></button>
                        <div class="dropdown-menu dropdown-toggle-item dropdown-menu-end border py-2" aria-labelledby="dashboard-layout" role="tablist"><a class="dropdown-item active" id="tableView" data-bs-toggle="tab" href="#table-view" role="tab" aria-controls="table-view">Table View</a><a class="dropdown-item" id="cardView" data-bs-toggle="tab" href="#card-view" role="tab" aria-controls="card-view">Card View</a></div>
                    </div>

                    <a @onclick="NavigateToCreatePage" class="btn btn-falcon-default btn-sm mx-2" href="#!" data-bs-toggle="collapse" aria-expanded="true" aria-controls="experience-form"><span class="fas fa-plus" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1">New</span></a>
                    <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1">Export</span></button>
                    <div class="dropdown font-sans-serif ms-2">
                        <button class="btn btn-falcon-default text-600 btn-sm dropdown-toggle dropdown-caret-none" type="button" id="preview-dropdown" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs-11"></span></button>
                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="preview-dropdown">
                            <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-content" id="ticketViewContent">
        <div class="fade tab-pane active show" id="table-view" role="tabpanel" aria-labelledby="tableView" data-list='{"valueNames":["client","subject","status","priority","agent"],"page":6,"pagination":true}'>
            <div class="card-body p-0">
                <div class="table-responsive scrollbar">
                    <table class="table table-sm mb-0 fs-10 table-view-tickets">
                        <thead class="bg-body-tertiary">
                            <tr>
                                <th class="py-2 fs-9 pe-2" style="width: 28px;">
                                    <div class="form-check d-flex align-items-center">
                                        <input class="form-check-input" id="checkbox-bulk-table-tickets-select" type="checkbox" data-bulk-select='{"body":"table-ticket-body","actions":"table-ticket-actions","replacedElement":"table-ticket-replace-element"}' />
                                    </div>
                                </th>
                                <th class="text-800 sort align-middle ps-2" data-sort="client">Client</th>
                                <th class="text-800 sort align-middle" data-sort="subject" style="min-width:15.625rem">Subject</th>
                                <th class="text-800 sort align-middle" data-sort="status">Status</th>
                                <th class="text-800 sort align-middle" data-sort="priority">Priority</th>
                                <th class="text-800 sort align-middle text-end" data-sort="agent">Agent</th>
                            </tr>
                        </thead>
                        <tbody class="list" id="table-ticket-body">
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-0" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>EW</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Emma Watson</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">Synapse Design #1125</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-success false">Recent</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:100">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#e63757" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Urgent</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option selected="selected">Anindya</option>
                                        <option>Nowrin</option>
                                        <option>Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-1" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>L</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Luke</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">Change of refund my last buy | Order #125631</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-danger false">Overdue</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:75">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#F68F57" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">High</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option selected="selected">Anindya</option>
                                        <option>Nowrin</option>
                                        <option>Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-2" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="assets/img/team/1-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Finley</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">I need your help #2256</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-warning false">Remaining</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:50">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Medium</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option selected="selected">Nowrin</option>
                                        <option>Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-3" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>PG</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Peter Gill</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">I need your help #2256</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-info false">Responded</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:25">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#00D27B" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Low</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option selected="selected">Nowrin</option>
                                        <option>Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-4" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="assets/img/team/25-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Freya</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">Contact Froms #3264</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-secondary dark__bg-1000">Closed</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:50">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Medium</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option>Nowrin</option>
                                        <option selected="selected">Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-5" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>M</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Morrison</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">I need your help #2256</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-info false">Responded</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:50">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Medium</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option>Nowrin</option>
                                        <option selected="selected">Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-6" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>MB</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Morrison Banneker</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">I need your help #2256</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-secondary dark__bg-1000">Closed</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:50">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Medium</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option>Nowrin</option>
                                        <option selected="selected">Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-7" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="assets/img/team/14-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Aar Kay</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">Regarding Falcon Theme #3262</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-success false">Recent</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:75">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#F68F57" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">High</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option>Nowrin</option>
                                        <option>Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-8" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>FB</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Fadil Badr</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">i would like to buy theme #3261</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-secondary dark__bg-1000">Closed</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:25">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#00D27B" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Low</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option>Nowrin</option>
                                        <option selected="selected">Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-9" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <img class="rounded-circle" src="assets/img/team/3-thumb.png" alt="" />

                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Regina Kempt</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">Theme info (icons) #3260</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-secondary dark__bg-1000">Closed</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:50">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Medium</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option selected="selected">Anindya</option>
                                        <option>Nowrin</option>
                                        <option>Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-10" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>C</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Caleb</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">Phishing link #3259</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-success false">Recent</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:25">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#00D27B" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Low</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option>Nowrin</option>
                                        <option>Khalid</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle fs-9 py-3">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="checkbox" id="table-view-tickets-11" data-bulk-select-row="data-bulk-select-row" />
                                    </div>
                                </td>
                                <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
                                    <div class="d-flex align-items-center gap-2 position-relative">
                                        <div class="avatar avatar-xl">
                                            <div class="avatar-name rounded-circle"><span>FB</span></div>
                                        </div>
                                        <h6 class="mb-0"><a class="stretched-link text-900" href="app/support-desk/contact-details.html">Fadil Badr</a></h6>
                                    </div>
                                </td>
                                <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="app/support-desk/tickets-preview.html">i would like to buy theme #3261</a></td>
                                <td class="align-middle status fs-9 pe-4">
                                    <small class="badge rounded badge-subtle-secondary dark__bg-1000">Closed</small>
                                </td>
                                <td class="align-middle priority pe-4">
                                    <div class="d-flex align-items-center gap-2">
                                        <div style="--falcon-circle-progress-bar:50">
                                            <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                            </svg>
                                        </div>
                                        <h6 class="mb-0 text-700">Medium</h6>
                                    </div>
                                </td>
                                <td class="align-middle agent">
                                    <select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                                        <option>Select Agent</option>
                                        <option>Anindya</option>
                                        <option>Nowrin</option>
                                        <option selected="selected">Khalid</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-none" id="tickets-table-fallback">
                        <p class="fw-bold fs-8 mt-3">No ticket found</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="pagination d-none"></div>
                    <div class="col"><span class="d-none d-sm-inline-block me-2 fs-10" data-list-info="data-list-info"></span></div>
                    <div class="col-auto d-flex">
                        <button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>Previous</span></button>
                        <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="fade tab-pane" id="card-view" role="tabpanel" aria-labelledby="cardView" data-list='{"valueNames":["client","subject","status","priority","agent"],"page":4,"pagination":true}'>
            <div class="card-body p-0">
                <div class="form-check d-none">
                    <input class="form-check-input" id="checkbox-bulk-card-tickets-select" type="checkbox" data-bulk-select='{"body":"card-ticket-body","actions":"table-ticket-actions","replacedElement":"table-ticket-replace-element"}' />
                </div>
                <div class="list bg-body-tertiary p-x1 d-flex flex-column gap-3" id="card-ticket-body">
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-0" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <div class="avatar-name rounded-circle"><span>EW</span></div>
                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">Synapse Design #1125</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Emma Watson</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-success false">Recent</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:100">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#e63757" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">Urgent</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option selected="selected">Anindya</option>
                                <option>Nowrin</option>
                                <option>Khalid</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-1" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <div class="avatar-name rounded-circle"><span>L</span></div>
                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">Change of refund my last buy | Order #125631</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Luke</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-danger false">Overdue</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:75">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#F68F57" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">High</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option selected="selected">Anindya</option>
                                <option>Nowrin</option>
                                <option>Khalid</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-2" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <img class="rounded-circle" src="assets/img/team/1-thumb.png" alt="" />

                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">I need your help #2256</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Finley</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-warning false">Remaining</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:50">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">Medium</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option>Anindya</option>
                                <option selected="selected">Nowrin</option>
                                <option>Khalid</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-3" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <div class="avatar-name rounded-circle"><span>PG</span></div>
                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">I need your help #2256</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Peter Gill</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-info false">Responded</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:25">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#00D27B" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">Low</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option>Anindya</option>
                                <option selected="selected">Nowrin</option>
                                <option>Khalid</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-4" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <img class="rounded-circle" src="assets/img/team/25-thumb.png" alt="" />

                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">Contact Froms #3264</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Freya</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-secondary dark__bg-1000">Closed</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:50">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">Medium</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option>Anindya</option>
                                <option>Nowrin</option>
                                <option selected="selected">Khalid</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-5" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <div class="avatar-name rounded-circle"><span>M</span></div>
                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">I need your help #2256</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Morrison</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-info false">Responded</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:50">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">Medium</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option>Anindya</option>
                                <option>Nowrin</option>
                                <option selected="selected">Khalid</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-6" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <div class="avatar-name rounded-circle"><span>MB</span></div>
                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">I need your help #2256</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Morrison Banneker</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-secondary dark__bg-1000">Closed</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:50">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#2A7BE4" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">Medium</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option>Anindya</option>
                                <option>Nowrin</option>
                                <option selected="selected">Khalid</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-white dark__bg-1100 d-md-flex d-xl-inline-block d-xxl-flex align-items-center p-x1 rounded-3 shadow-sm card-view-height">
                        <div class="d-flex align-items-start align-items-sm-center">
                            <div class="form-check me-2 me-xxl-3 mb-0">
                                <input class="form-check-input" type="checkbox" id="card-view-tickets-7" data-bulk-select-row="data-bulk-select-row" />
                            </div><a class="d-none d-sm-block" href="app/support-desk/contact-details.html">
                                <div class="avatar avatar-xl avatar-3xl">
                                    <img class="rounded-circle" src="assets/img/team/14-thumb.png" alt="" />

                                </div>
                            </a>
                            <div class="ms-1 ms-sm-3">
                                <p class="fw-semi-bold mb-3 mb-sm-2"><a href="app/support-desk/tickets-preview.html">Regarding Falcon Theme #3262</a></p>
                                <div class="row align-items-center gx-0 gy-2">
                                    <div class="col-auto me-2">
                                        <h6 class="client mb-0"><a class="text-800 d-flex align-items-center gap-1" href="app/support-desk/contact-details.html"><span class="fas fa-user" data-fa-transform="shrink-3 up-1"></span><span>Aar Kay</span></a></h6>
                                    </div>
                                    <div class="col-auto lh-1 me-3">
                                        <small class="badge rounded badge-subtle-success false">Recent</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6 class="mb-0 text-500">2d ago</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mt-4 mb-x1"></div>
                        <div class="d-flex justify-content-between ms-auto">
                            <div class="d-flex align-items-center gap-2 ms-md-4 ms-xl-0" style="width:7.5rem;">
                                <div style="--falcon-circle-progress-bar:75">
                                    <svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                                        <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                                        <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#F68F57" stroke-width="12"></circle>
                                    </svg>
                                </div>
                                <h6 class="mb-0 text-700">High</h6>
                            </div>
                            <select class="form-select form-select-sm" aria-label="agents actions" style="width:9.375rem;">
                                <option>Select Agent</option>
                                <option>Anindya</option>
                                <option>Nowrin</option>
                                <option>Khalid</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="text-center d-none" id="tickets-card-fallback">
                    <p class="fw-bold fs-8 mt-3">No ticket found</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="pagination d-none"></div>
                    <div class="col"><span class="d-none d-sm-inline-block me-2 fs-10" data-list-info="data-list-info"></span></div>
                    <div class="col-auto d-flex">
                        <button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>Previous</span></button>
                        <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
 



 

 
        
  

   
       
                
          


 

 



 

@code {
    private bool showOverlay = false;

    private string overlayDisplay => showOverlay ? "block" : "none";

    private void ToggleOverlay()
    {
        showOverlay = !showOverlay;
    }
    // private string DisplayView = "block"; 
    // private string AddView = "none";  
    // private void ToggleVisibility()
    // {
    //     DisplayView = (DisplayView == "block") ? "none" : "block";
    //     AddView = (AddView == "block") ? "none" : "block";
    // }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void NavigateToCreatePage()
    {
        NavigationManager.NavigateTo("/new_experience");
    }
}
